@media all and (min-width: 767px) {
  .title__modifier {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}

.title__modifier {
  margin-bottom: 0;
}

.committe__section__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.committee__cards {
  height: auto;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.committee_titles {
  width: 100%;
  font-size: min(38.4px, 2.4rem);
  margin-block: 3rem 0rem;
  text-align: center;
  color: #1e1f36;
  font-weight: 500;
  font-family: inherit;
}

.committee__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.committee__card {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 9px 21px 9px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: all 300ms ease-in-out;
  transform: scale(0.9);
}

.committee__card:hover {
  transform: scale(0.92);
}

.committee__card.data:hover::after {
  position: absolute;
  content: "";
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 600px;
  border-radius: 0rem 0rem 10px 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.52%, #000 99.86%);
}

.committee__card::after {
  position: absolute;
  content: "";
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 300px;
  border-radius: 0rem 0rem 10px 10px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.52%, #000 99.86%);
  transition: height 0.5s;
}

.committee__text {
  position: absolute;
  bottom: 13px;
  z-index: 3;
  max-height: 35%; /* ^ or V* to set height of text area*/
  min-height: 22%;
  width: 85%;
  overflow: hidden;
}

.committee__text p {
  color: rgb(236, 236, 236);
  text-align: center;
  line-height: 1.9ch;
  font-size: min(24px, 1.65rem);
  margin-bottom: 0.4rem;
}

p.committee__designation {
  font-size: min(17.5px, 1.2rem);
  max-width: 100%;
  height: auto;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4; /* Show 4 lines before ellipsis */
  text-overflow: ellipsis;
  white-space: normal;
}

.comm__organising,
.comm__technical {
  width: 100%;
  margin-bottom: 2rem;
}

.comm__organising > *,
.comm__technical > * {
  list-style: disc;
  color: #1e1f36;
  font-family: inherit;
  font-weight: 500;
  font-size: min(19.2px, 1.2rem);
  padding: 5px;
  margin-left: min(8rem, 8vmax);
}

.know_more {
  /*background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 2px 6px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;*/
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  background-color: transparent;
  pointer-events: auto;
}

/* .know_more:hover,
.know_more:active {
  background-color: initial;
  background-position: 0 0;
  color: whitesmoke;
} */

.know_more img {
  width: 100%;
  transition: all 300ms ease-in-out;
}
.know_more img:hover {
  filter: invert(80);
}

/* .know_more a {
  all: unset;
} */

@keyframes AutoReveal {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

.speaker__container {
  height: 300dvh;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 20rem;
}

.speaker__card {
  position: relative;
  display: flex;
  height: 325px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.speaker__img {
  max-width: 30%;
  object-fit: cover;
  object-position: top;
}

.speaker__content {
  width: 100%;
}

.speaker__info {
  color: rgb(220, 220, 220);
  background-color: #101130;
  padding: 1rem;
}
.speaker__elaborate {
  padding: 0.3rem 1rem 1rem 1rem;
  height: 200px;
  margin-block: 0.3rem;
  overflow: scroll;
  scroll-behavior: smooth;
}
.speaker__about {
  line-height: 2.5ch;
  text-align: left;
  word-wrap: break-word; /* Allow long words to break and wrap */
  white-space: pre-line; /* Preserve line breaks */
  padding-inline: 0.7rem;
}

.speaker__name {
  color: inherit;
  font-size: clamp(0.15rem, 0.4774rem + 1.1vw, 1.2rem);
  margin-bottom: 0;
}
.speaker__topic {
  font-size: clamp(0.3rem, 0.8774rem + 1.1vw, 1.7rem);
}

.speaker__moreinfo {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 10px;
  top: 10px;
  transition: all 250ms ease-in;
}

.speaker__moreinfo:hover {
  filter: invert(100%);
  transform: scale(1.07);
}

@media all and (max-width: 870px) {
  .speaker__card {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }
  .speaker__img {
    padding: 0.5rem;
    max-width: 25%;
    min-width: 120px;
    border-radius: 15px;
  }
}
@media all and (max-width: 760px) {
  .speaker__about {
    font-size: 0.85rem;
  }
}
